<!-- == START OF COVER 12 ==-->
<div class="cover__slider js-cover">
    <div class="container cover__slider__arrows_box">
      <button type="button" class="cover__slider__arrow cover__slider__arrow--left js-slider-prev-arrow"></button>
      <button type="button" class="cover__slider__arrow cover__slider__arrow--right js-slider-next-arrow"></button>
    </div>
    <div data-slick="{&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1, &quot;fade&quot;: true, &quot;prevArrow&quot; : &quot;.js-slider-prev-arrow&quot;, &quot;nextArrow&quot;: &quot;.js-slider-next-arrow&quot;}" class="cover__slider__content_box js-slider">
      <div style="background-image: url(img/bg/milan-property-window-bg.jpg)" class="cover cover--12">
        <div class="container">
          <div class="cover__content_box--12"><a class="cover__tag_button--12 button button--white button--extra-small only-desktop" href="/">students</a>
            <h2 class="cover__title--12"><span class="cover__title_text--12">Legal sub-leasing services for students</span></h2>
            <div class="cover__description_box--12">
              <span class="cover__description_text--12">We manage your property on platforms like Airbnb, VRBO, and Homeaway to give you the money guests pay.</span>
            </div>
            <a class="typeform-share button button--border-white" href="https://alex4303.typeform.com/to/rxuueF" data-mode="popup" target="_blank">Sign Up </a>
          </div>
        </div>
      </div>
      <div style="background-image: url(img/bg/property-interior-red-bg.jpg)" class="cover cover--12">
        <div class="container">
          <div class="cover__content_box--12"><a class="cover__tag_button--12 button button--white button--extra-small only-desktop" href="/landlords">landlords</a>
            <h2 class="cover__title--12"><span class="cover__title_text--12">Make money from property vacancies of any length</span></h2>
            <div class="cover__description_box--12"><span class="cover__description_text--12">Arca will keep your apartment clean, insured, and available for tenant visits.</span></div><a href="/landlords" class="button button--border-white">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- == END OF COVER 12 ==-->