<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/custom.js"></script>    
    <link rel="stylesheet/less" type="text/css" href="/css/custom.less" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/brand/arca-logo-black.png" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
  </head>
  <body>
    <main class="page_wrapper">
      <!-- == START OF MENU 01 (large desktop header--01 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==-->
      <nav data-menu-index="01" class="menu menu--01 js-menu gradient-background">
        <div class="menu__container">
          <button type="button" class="menu__closer js-close-menu">close</button>
          <div class="menu__box">
            <ul class="menu__list">
              <li class="menu__item"><a href="/" class="menu__link">Home</a></li>
              <li class="menu__item"><a href="/about" class="menu__link">About</a></li>
              <li class="menu__item"><a href="/faq" class="menu__link">FAQ</a></li>
              <li class="menu__item"><a href="/referrals" class="menu__link">Referrals</a></li>
              <li class="menu__item"><a href="https://alex4303.typeform.com/to/rxuueF" data-mode="popup" target="_blank" class="typeform-share menu__link">Sign Up</a></li>
            </ul>
            <a class="typeform-share button button--border-white header__item--desktop" href="https://alex4303.typeform.com/to/rxuueF" data-mode="popup" target="_blank">sign up </a>
            <h3 class="menu__title">contact</h3>
            <p class="menu__about_text">If you have any questions for us, please email ask@arcapropertymanagement.com and we will get back to you as soon as possible!</p>
          </div>
        </div>
      </nav>
      <!-- == END OF MENU 01 (large desktop header--01 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==-->
      <header class="header js-header main-header">
        <div class="container header__container-aw">
          <div class="header__left_box">
              <a href="/" title="Home" class="header__logo_box">
                  <img src="img/brand/arca-wordmark-white.svg" alt="Arca properties logo" class="header__logo_img-aw">
              </a>
          </div>
          <div class="header__right_box">
            <ul class="header__menu_list header__item--desktop">
              <li class="header__menu_item"><a href="/" class="header__menu_link header__menu_link--white">home</a></li>
              <li class="header__menu_item"><a href="/about" class="header__menu_link header__menu_link--white">about</a></li>
              <li class="header__menu_item"><a href="/faq" class="header__menu_link header__menu_link--white">faq</a></li>
              <li class="header__menu_item"><a href="/referrals" class="header__menu_link header__menu_link--white">referrals</a></li>
              <a class="typeform-share button button--border-white header__item--desktop" href="https://alex4303.typeform.com/to/rxuueF" data-mode="popup" target="_blank">sign up </a>
            </ul>
            <button type="button" data-menu-index="01" class="header__burger_button js-open-menu only-mobile"></button>
          </div>
        </div>
        </div>
      </header>
      <!-- == END OF PRESENTATION NAVBAR ==-->