      <!-- == START OF call_to_action 01 ==-->
      <div style="background-image: url(/img/bg/navigli-night-lights-bg.jpg)" class="call_to_action call_to_action--01">
        <div class="container">
          <h2 class="call_to_action__title call_to_action__title--01 white-text">Pianifica un Incontro</h2>
          <span class="call_to_action__text call_to_action__text--01 white-text">Ti piace quello che vedi? Iscriviti per un incontro introduttivo di 30 minuti con un membro del nostro team e trasformeremo il tuo appartamento libero in denaro in un batter d’occhio!</span><br>
          </ul>
          <a class="typeform-share button button--white button--gray-shadow" href="https://www.arcapropertiesmilan.com/" data-mode="popup" target="_blank">iscriviti</a>
        </div>
      </div>
      <!-- == END OF call_to_action 01 ==-->
      <!-- == START OF FOOTER 04 ==-->
      <footer class="footer footer--04">
        <div class="footer__main_box--04">
          <div class="container footer__container">
            <a href="/it/" class="footer__logo_box footer__logo_box--04">
              <img src="/img/brand/arca-logo-white.svg" alt="Arca properties logo" class="header__logo_img">
            </a>
            <ul class="footer__nav footer__nav--04">
              <li class="header__menu_item students-link"><a href="/it/" class="header__menu_link header__menu_link--white">studenti</a></li>
              <li class="header__menu_item landlords-link"><a href="/it/landlords" class="header__menu_link header__menu_link--white">padroni di casa</a></li>
              <li class="header__menu_item about-link"><a href="/it/about" class="header__menu_link header__menu_link--white">informazioni</a></li>
              <li class="header__menu_item faq-link"><a href="/it/faq" class="header__menu_link header__menu_link--white">faq</a></li>
            </ul>
            <ul class="social footer__social--04 footer__social_box">
              <li class="social__item social__item--left_margin"><a href="https://www.linkedin.com/company/arca-property-management/" title="Say hello in LinkedIn!" class="social__link social__link--linkedin"></a></li>
              <li class="social__item social__item--left_margin"><a href="https://www.instagram.com/arcaproperties/" title="Say hello in LinkedIn!" class="social__link social__link--instagram"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__description_box--04">
          <div class="container footer__container"><span class="footer__description footer__description--04">askarcaproperties@gmail.com<br>Fatto con ♥ a Milano.</span><span class="footer__copyright footer__copyright--04">&copy; Arca Properties, 2018</span></div>
        </div>
      </footer>
      <!-- == END OF FOOTER 04 ==-->
    </main>
    <script src="/js/translation.js"></script>
    <div class="js-overlay js-close-navigation js-close-menu overlay"></div>
  <body>
<html>