<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128765673-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128765673-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/custom.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet/less" type="text/css" href="/css/custom.less" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/brand/arca-logo-black.png" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <!--script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script-->
    <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Arca Properties</title>
  </head>
  <body>
    <main class="page_wrapper">
      <!-- == START OF MENU 01 (large desktop header--01 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==-->
      <nav data-menu-index="01" class="menu menu--01 js-menu gradient-background">
        <div class="menu__container">
          <button type="button" class="menu__closer js-close-menu">chiudi</button>
          <div class="menu__box">
            <ul class="menu__list">
              <li class="menu__item"><a href="/it/" class="menu__link">Studenti</a></li>
              <li class="menu__item"><a href="/it/landlords" class="menu__link">Padroni di casa</a></li>
              <li class="menu__item"><a href="/it/about" class="menu__link">Informazioni</a></li>
              <li class="menu__item"><a href="/it/faq" class="menu__link">FAQ</a></li>
              <li class="menu__item"><a href="https://www.arcapropertiesmilan.com/" data-mode="popup" target="_blank" class="typeform-share menu__link">Iscriviti</a></li>
            </ul>
            <a class="typeform-share button button--border-white header__item--desktop" href="https://www.arcapropertiesmilan.com/" data-mode="popup" target="_blank">sign up </a>
            <h3 class="menu__title">CONTATTO</h3>
            <p class="menu__about_text">Se avete domande, mandate una mail a “askarcaproperties@gmail.com”. Vi risponderemo non appena possibile.</p>
          </div>
        </div>
      </nav>
      <!-- == END OF MENU 01 (large desktop header--01 is hidden on mobiles (iPhone, iPad, etc) and this one is to be opened on burger tap) ==-->
      <header class="header js-header main-header">
        <div class="container header__container-aw">
          <div class="header__left_box">
              <a href="/it/" title="Home" class="header__logo_box">
                  <img src="/img/brand/arca-wordmark-white.svg" alt="Arca properties logo" class="header__logo_img-aw">
              </a>
          </div>
          <div class="header__right_box only-desktop">
              <button id="language" data-dropdown-target="location_1" type="button" class="header__location_dropdown_opener js-dropdown-opener">IT</button>
              <div data-dropdown-name="location_1"  style="top:7px;" class="header__location_dropdown dropdown js-dropdown">
                <ul class="header__location_list dropdown__list">
                  <li class="dropdown__item">
                    <a id="italian" href="/it/" class="dropdown__btn">
                      <span class="dropdown__item_text header__location_item_text">IT</span>
                    </a>
                  </li>
                  <li class="dropdown__item header__location_item">
                    <a id="english" href="/" class="dropdown__btn header__location_btn">
                      <span class="dropdown__item_text header__location_item_text">EN</span>
                    </a>
                  </li>
                  <!-- <li class="dropdown__item"><a href="#" class="dropdown__btn"><span class="dropdown__item_text header__location_item_text">FR</span></a></li>
                  <li class="dropdown__item"><a href="#" class="dropdown__btn"><span class="dropdown__item_text header__location_item_text">SP</span></a></li>
                  <li class="dropdown__item"><a href="#" class="dropdown__btn"><span class="dropdown__item_text header__location_item_text">DE</span></a></li> -->
                </ul>
              </div>
            </div>
            <div class="header__right_box">
              <ul class="header__menu_list header__item--desktop">
                <li class="header__menu_item"><a href="/it/" class="header__menu_link header__menu_link--white">studenti</a></li>
                <li class="header__menu_item"><a href="/it/landlords" class="header__menu_link header__menu_link--white">padroni di casa</a></li>
                <li class="header__menu_item"><a href="/it/about" class="header__menu_link header__menu_link--white">informazioni</a></li>
                <li class="header__menu_item"><a href="/it/faq" class="header__menu_link header__menu_link--white">faq</a></li>
                <button href="https://www.arcapropertiesmilan.com/" data-mode="popup" class="typeform-share button button--border-white header__item--desktop" style="margin-right: 30px;" target="_blank">iscriviti</button>
              </ul>
              <button type="button" data-menu-index="01" class="header__burger_button js-open-menu only-mobile"></button>    
            </div>
          </div>
        </div>
      </header>
      <!-- == END OF PRESENTATION NAVBAR ==-->