.main-header {
	position: fixed;
	transition: 0.3s all;
	z-index: 30;
}

.main-header-changed {
	background: #242526;
	top: 0;
}

.gradient-background {
	background-image: linear-gradient(to bottom right, #e2af64, #e6b980, #eacda3, #eed7b4)
}

.white-text {
	color: white;
}