<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128765673-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128765673-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/custom.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet/less" type="text/css" href="/css/custom.less" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/brand/arca-logo-black.png" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <!--script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script-->
    <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
    <title>Arca Properties</title>
  </head>
  <body>
    <main class="page_wrapper">
      <header class="header js-header app-main-header">
        <div class="container header__container-aw">
          <div class="header__left_box">
              <a href="/" title="Home" class="header__logo_box">
                  <img src="img/brand/arca-wordmark-white.svg" alt="Arca properties logo" class="header__logo_img-aw">
              </a>
          </div>
          <div class="header__right_box">
            <button id="btn-logout" class="button button--border-white header__item--desktop" target="_blank">log out </button>
          </div>
        </div>
        </div>
      </header>
      <!-- == END OF PRESENTATION NAVBAR ==-->
	<!-- == START OF COVER 09 ==-->
	<div style="background-image: url(/img/bg/work-laptops-team-bg.jpg)" class="cover cover--09 js-cover">
	  <div class="container">
	    <div class="cover__content_box cover__content_box--09">
	      <h2 class="cover__title cover__title--09"><span class="cover__title_text cover__title_text--09">Our Story</span></h2>
	      <div class="cover__description_box--09"><span class="cover__description_text--09">If you want to learn more about us before working with us, please read on!</span></div>
	      <div class="cover__button_box--09"><a href="#" class="cover__button--09 button button--gold button--gold-shadow button--round button--arrow-down js-scroll-fullscreen"></a></div>
	    </div>
	  </div>
	</div>
	<!-- == END OF COVER 09 ==-->
<div class="content">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Auth0 - JavaScript</a>

        <button id="btn-home-view" class="btn btn-primary btn-margin">
            Home
        </button>

        <button id="btn-login" class="btn btn-primary btn-margin">
            Log In
        </button>

        <button id="btn-logout" class="btn btn-primary btn-margin">
            Log Out
        </button>

      </div>
    </div>
  </nav>

  <main class="container">
    <!-- home view -->
    <div id="home-view">
      <h4></h4>
    </div>
    
  </main>

</div>

      <!-- == START OF FOOTER 04 ==-->
      <footer class="footer footer--04">
        <div class="footer__main_box--04">
          <div class="container footer__container">
            <a href="#" class="footer__logo_box footer__logo_box--04">
              <img src="img/brand/arca-logo-white.svg" alt="Arca properties logo" class="header__logo_img">
            </a>
            <ul class="footer__nav footer__nav--04">
              <li class="header__menu_item"><a href="/" class="header__menu_link header__menu_link--white">home</a></li>
              <li class="header__menu_item"><a href="/about" class="header__menu_link header__menu_link--white">about</a></li>
              <li class="header__menu_item"><a href="/faq" class="header__menu_link header__menu_link--white">faq</a></li>
              <li class="header__menu_item"><a href="/referrals" class="header__menu_link header__menu_link--white">referrals</a></li>
            </ul>
            <ul class="social footer__social--04 footer__social_box">
              <li class="social__item social__item--left_margin"><a href="https://www.linkedin.com/company/arca-property-management/" title="Say hello in LinkedIn!" class="social__link social__link--linkedin"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer__description_box--04">
          <div class="container footer__container"><span class="footer__description footer__description--04">ask@arcapropertymanagement.com<br>Made with ♥ in Milan.</span><span class="footer__copyright footer__copyright--04">&copy; Arca Properties, 2018</span></div>
        </div>
      </footer>
      <!-- == END OF FOOTER 04 ==-->
    </main>
    <div class="js-overlay js-close-navigation js-close-menu overlay"></div>
  <body>
<html>