<% include ../partials/header %>
<!-- == START OF COVER 09 ==-->
<div style="background-image: url(img/bg/work-laptops-team-bg.jpg)" class="cover cover--09 js-cover">
  <div class="container">
    <div class="cover__content_box cover__content_box--09">
      <h2 class="cover__title cover__title--09"><span class="cover__title_text cover__title_text--09">Our Story</span></h2>
      <div class="cover__description_box--09"><span class="cover__description_text--09">If you want to learn more about us before working with us, please read on!</span></div>
      <div class="cover__button_box--09"><a href="#" class="cover__button--09 button button--gold button--gold-shadow button--round button--arrow-down js-scroll-fullscreen"></a></div>
    </div>
  </div>
</div>
<!-- == END OF COVER 09 ==-->
<!-- == START OF ABOUT 07 ==-->
<div class="about about--07">
  <div class="container">
    <h2 class="about__title about__title--07">About Us</h2>
    <div style="background-image: url(img/bg/bg--bright-room.jpg)" class="about__container--07">
      <div class="about__content--07">
        <div class="about__content__top_row--07">
          <h3 class="about__subtitle--07 about__main_subtitle--07">history</h3><span class="about__main_info--07">As students at Bocconi, we were on a tight budget and so when we worked our summer internships or visited family over through the winter, we saw that our apartment space back in Milan was being wasted while we still had to pay rent.<br><br>We saw this as an opportunity, but there were many obstacles to overcome: sub-leasing in Italy is illegal without proper precautions, hiring the right person to coordinate check-in, check-out, and cleaning after each guest is difficult, as is learning how to best serve our guests to ensure high ratings, and more... <br><br>After 2 years of ups and downs, what started as listing our apartment on Airbnb to make some of our rent money back has evolved into a comprehensive and legal sub-letting solution we want to offer to students everywhere.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- == END OF ABOUT 07 ==-->
<!-- == START OF COVER 15 ==-->
<div class="cover cover--15 js-cover">
  <!-- == START OF HEADER 11 ==-->
  <nav class="header header--11">
    <div class="container header__container">
      <div class="header__center_box">
        <br>
        <img src="img/brand/arca-logo-white.svg" alt="Arca properties logo" class="header__logo_img">
      </div>
    </div>
  </nav>
  <!-- == END OF HEADER 11 ==-->
  <div class="cover__content_box--15">
    <div class="cover__description_box--15">
      <span class="cover__description_text--15"><br>
        We started by turning our <br>vacant apartment into&#8287;<span class="cover__title_text__accent_word">cash.&#8287;<br></span>We want to do the same for&#8287;<span class="cover__title_text__accent_word">you.</span>&#8287;
      </span>
    </div>
  </div>
  <div class="cover__social_box--15">
    <img src="img/brand/arca-wordmark-white.svg" alt="Arca properties logo" class="text__logo_img">
  </div>
</div>
<!-- == END OF COVER 15 ==-->
<!-- == START OF TEAM 02 ==-->
<div class="team team--02">
  <h2 class="team__title">Our team</h2>
  <div class="team__box team__box--02">
    <div class="team__item team__item--02">
      <div style="background-image:url(img/pictures/pic--musk.jpg)" class="team__item_photo"></div><span class="team__item_name">Elon Musk</span><span class="team__item_job team__item_job--02">CEO</span><span class="team__item_text team__item_text--02">A playful form of issue is the result.</span>
      <ul class="social">
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--twitter social__link--twitter--black"></a></li>
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--facebook social__link--facebook--black"></a></li>
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--g_plus social__link--g_plus--black"></a></li>
      </ul>
    </div>
    <div class="team__item team__item--02">
      <div style="background-image:url(img/pictures/pic--tobias.jpg)" class="team__item_photo"></div><span class="team__item_name">tobias van schneider</span><span class="team__item_job team__item_job--02">Art director</span><span class="team__item_text team__item_text--02">The aspect has issue, but not everyone meets it.</span>
      <ul class="social">
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--twitter social__link--twitter--black"></a></li>
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--tumblr social__link--tumblr--black"></a></li>
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--pinterest social__link--pinterest--black"></a></li>
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--linkedin social__link--linkedin--black"></a></li>
      </ul>
    </div>
    <div class="team__item team__item--02">
      <div style="background-image:url(img/pictures/pic--doe.jpg)" class="team__item_photo"></div><span class="team__item_name">John Doe</span><span class="team__item_job team__item_job--02">UI/UX designer</span><span class="team__item_text team__item_text--02">Creators, aspects, and honorable doers will always protect them.</span>
      <ul class="social">
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--twitter social__link--twitter--black"></a></li>
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--facebook social__link--facebook--black"></a></li>
      </ul>
    </div>
    <div class="team__item team__item--02">
      <div style="background-image:url(img/pictures/pic--ive.png)" class="team__item_photo"></div><span class="team__item_name">Jony Ive</span><span class="team__item_job team__item_job--02">Web designer</span><span class="team__item_text team__item_text--02">The cow has justice, but not everyone fears it.</span>
      <ul class="social">
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--twitter social__link--twitter--black"></a></li>
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--facebook social__link--facebook--black"></a></li>
        <li class="social__item social__item--equal_margin"><a href="#" class="social__link social__link--linkedin social__link--linkedin--black"></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- == END OF TEAM 02 ==-->
<% include ../partials/footer %>