<% include ../partials/header %>
<!-- == START OF COVER 09 ==-->
<div style="background-image: url(img/bg/bg--startup_guy.jpg)" class="cover cover--09 js-cover">
  <div class="container">
    <div class="cover__content_box cover__content_box--09">
      <h2 class="cover__title cover__title--09"><span class="cover__title_text cover__title_text--09">Simple yet powerful</span></h2>
      <div class="cover__description_box--09"><span class="cover__description_text--09">Who can view the attitude and shame of a follower if he has the psychic love of the cow.</span></div>
      <div class="cover__button_box--09"><a href="#" class="cover__button--09 button button--gold button--gold-shadow button--round button--arrow-down js-scroll-fullscreen"></a></div>
    </div>
  </div>
</div>
<!-- == END OF COVER 09 ==-->
<!-- == START OF ABOUT 07 ==-->
<div class="about about--07">
  <div class="container">
    <h2 class="about__title about__title--07">FAQ</h2>
    <div class="faq__container--aw1">
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      <label class="collapsible">
        <input type="checkbox"/>
        <span class="arrow">&gt;</span>
        <span class="collapser"><h3 class="features__item_title">A question</h3></span>
        <div class="collapsed"><span class="features__item_text features__item_text--09">The answer</span></div>
      </label>
      
    </div>
  </div>
</div>
<!-- == END OF ABOUT 07 ==-->
<% include ../partials/footer %>