<% include ../partials/header %>
<!-- == START OF COVER 09 ==-->
<div style="background-image: url(img/bg/question-lights-alley-bg.jpg)" class="cover cover--09 js-cover">
  <div class="container">
    <div class="cover__content_box cover__content_box--09">
      <h2 class="cover__title cover__title--09"><span class="cover__title_text cover__title_text--09">Frequently Asked Questions</span></h2>
      <div class="cover__description_box--09"><span class="cover__description_text--09">We hope you can find the answer to your question here. If not, please send an email to ask@arcapropertymanagement.com with your question!</span></div>
      <div class="cover__button_box--09"><a href="#" class="cover__button--09 button button--gold button--gold-shadow button--round button--arrow-down js-scroll-fullscreen"></a></div>
    </div>
  </div>
</div>
<!-- == END OF COVER 09 ==-->
<!-- == START OF ABOUT 07 ==-->
<div class="about about--07">
  <div class="container">
    <h2 class="about__title about__title--07">FAQ</h2>
    <div class="faq__container--aw1">
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">Why couldn't I just manage my own Airbnb?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Our service is specifically designed for students who won't be in Milan to live in their apartment during school breaks. If you aren't in the city your Airbnb is in, you will have to pay someone to manage your Airbnb regardless. There is a learning curve for managing an Airbnb page and guest operations that we have gone throug already and would like to take care of that for you. Using us would allow you to complete your internship or vacation in peace<br><br>However, if you feel that running your own Airbnb is the better option for your situation, feel free to do so!</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">What about my personal belongings?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">We have a storage room where we store all of your personal belongings and put everything back at the exact same place upon your arrival. We can also use one of your rooms or closets and lock it. Either way, we will of course put everything back to the original state before your arrival.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">Is listing on Airbnb safe?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">We believe so! Here's why:<br><br>1)Airbnb guarantees up to 1 million USD insurance for any damages or theft.<br><br>2) We have 3 years of experiences with more than 100+ trips with an average rating of x.x stars.<br><br>3) We request photocopy of passports and look at past reviews beforehand before accepting any guests.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">What do you mean by "sub-leasing"?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">We talk about sub-leasing (or sub-letting) when the tenant (we will call him "Max") stipulates with a third party (which we will call "Arca") a lease for an apartment or room, whose rent is in his name. It is therefore a contract completely independent of what the tenant has stipulated with the owner of the house (which we will call "Brunello"), and which nevertheless maintains its effects unaltered. It can therefore be said that this new contract of sublease, is going to "overlap" to that already existing tenant between tenant and owner.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">Can you sub-lease the whole house or just a part (like a room)?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">The law responds very clearly to this question. The reference article is n.2, Law n. 392/78. The law explains that total sublease is not possible (except the owner's consent), while the partial sublease is allowed (unless the owner refuses). All this can be completely revised, if a specific clause that regulates the sublocation is inserted in the contract. In short: the owner of the lease that will sign the tenant, can insert a clause where he denies any type of sublease, or vice versa that allows it in any form (total or partial).<br><br>Warning!<br>For temporary and transitory student contracts, subletting is prohibited. The clause must be included in the rental contract, as required by the Italian Convention.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">How do you legally authorize a sub-lease?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Here are all the steps you need to take to start a sub-lease:<br><br>1) Communication to the owner: a registered letter must be sent to the tenant indicating the data of the third party (sub-conductor), the duration that will have the sublease, and the number of rooms given in sublease.<br><br>2) (If sub-lease exceeding 30 days) register the sublease contract, paying 2% registration tax. The registration must be made within 30 days from the signing of the contract, at the offices of the Revenue Agency, and following the payment of the registration tax using the F24 Elide model.<br><br>3) (if sub-conductor is non-EU citizen) presentation of the "declaration of hospitality" model to denounce the subletting.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">What happens if the tenant sub-leases the apartment without authorization?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">In case of violation of the prohibition by the tenant, the landlord can act in court to request the termination of the main lease and the sublease, that is the eviction of both the tenant and the child.<br><br>The sublease of the whole apartment is possible only if it has been included in the rental contract. If nothing is stipulated in the contract, the total sub-lease is prohibited.<br><br>The subletting of a part of the apartment is possible except prohibited in the rental contract. If nothing is stipulated in the contract, partial subletting is allowed. In any case, the tenant must inform the landlord of the start of the sublease.<br><br>The landlord can object for serious reasons to sublease within 30 days of receipt of the notice, under penalty of forfeiture.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">Fiscal Laws about sub-leasing?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">On this the Law intervenes, to the art. 67, paragraph 1, letter h of the Consolidated Law on Income Tax. Specifying the following: “the income deriving from the concession in usufruct and from the sublease of real estate, from renting, renting, renting or conceding in use of vehicles, machines and other movable property, from renting and granting in usufruct of companies; the lease and concession in the usufruct of the sole company by the entrepreneur are not considered facts in the business of the company, but in case of subsequent total or partial sale the capital gains realized contribute to form the total income as different income”.<br><br>The income deriving from sublease is equal to the difference between the amount collected as a sub-lender during the year and the specifically related expenses (Article 71, paragraph 2), such as the rent paid to the owner of the apartment. These amounts must be declared in model 730 , row D4, indicating in column 1 (type of income) the code "3", ie in the Unico Pf model, row RL10.</div>
      </label>
    </div>
  </div>
</div>
<!-- == END OF ABOUT 07 ==-->
<% include ../partials/footer %>