<% include ../partials/header %>
  <!-- == START OF COVER 12 ==-->
  <div class="cover__slider js-cover">
    <!-- <div class="container cover__slider__arrows_box">
      <button type="button" class="cover__slider__arrow cover__slider__arrow--left js-slider-prev-arrow"></button>
      <button type="button" class="cover__slider__arrow cover__slider__arrow--right js-slider-next-arrow"></button>
    </div>
    <div data-slick="{&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1, &quot;fade&quot;: true, &quot;prevArrow&quot; : &quot;.js-slider-prev-arrow&quot;, &quot;nextArrow&quot;: &quot;.js-slider-next-arrow&quot;}" class="cover__slider__content_box js-slider"> -->
      <div style="background-image: url(img/bg/property-interior-red-bg.jpg)" class="cover cover--12">
        <div class="container">
          <div class="cover__content_box--12"><a class="cover__tag_button--12 button button--white button--extra-small only-desktop" href="/landlords">landlords</a>
            <h2 class="cover__title--12"><span class="cover__title_text--12">Make money from property vacancies of any length</span></h2>
            <div class="cover__description_box--12">
              <span class="cover__description_text--12">Arca will keep your apartment clean, insured, and available for tenant visits.</span>
            </div>
            <a class="typeform-share button button--border-white" href="https://www.arcapropertiesmilan.com/" data-mode="popup" target="_blank">Sign Up</a>
          </div>
        </div>
      </div>
      <!-- <div style="background-image: url(img/bg/milan-property-window-bg.jpg)" class="cover cover--12">
        <div class="container">
          <div class="cover__content_box--12"><a class="cover__tag_button--12 button button--white button--extra-small only-desktop" href="/">students</a>
            <h2 class="cover__title--12"><span class="cover__title_text--12">Legal sub-leasing services for students</span></h2>
            <div class="cover__description_box--12">
              <span class="cover__description_text--12">We manage your property on platforms like Airbnb, VRBO, and Homeaway to give you the money guests pay.</span>
            </div>
            <a class="button button--border-white" href="/" data-mode="popup">learn more</a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- == END OF COVER 12 ==-->
  <!-- == START OF ABOUT 05 ==-->
  <div class="about about--05 light-gray-bg">
    <div class="container">
      <h2 class="about__title about__title--aw">We'll take care<br> of everything</h2>
      <span class="about__description--06 about__description--aw">Managing listings on sub-leasing platforms takes 10-20 hours of work a week per property. With Arca it takes 0.</span>
    </div>
    <div class="about__process_box">
      <button type="button" data-content-index="process_step_1" class="process_item--small process_item--small--computer-icon state-active js-content-trigger">
        <h3 class="about__process_title">marketing</h3>
      </button>
      <button type="button" data-content-index="process_step_2" class="process_item--small process_item--small--guest-icon js-content-trigger">
        <h3 class="about__process_title">guests</h3>
      </button>
      <button type="button" data-content-index="process_step_3" class="process_item--small process_item--small--clean-icon js-content-trigger">
        <h3 class="about__process_title">cleaning</h3>
      </button>
      <button type="button" data-content-index="process_step_4" class="process_item--small process_item--small--money-icon js-content-trigger">
        <h3 class="about__process_title">payment</h3>
      </button>
      <!--decorative element-->
      <div class="about__line"></div>
    </div>
    <!--the first one is visible by default-->
    <div data-content-index="process_step_1" style="display:block" class="container about__process_text_box js-content-box">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-xs-6"><span class="about__text about__text--05">We will market your apartment listing through short-term rental platforms such as Airbnb, VRBO, Homeaway, and others to maximize your bookings.</span></div>
        <div class="col-lg-4 col-xs-6"><span class="about__text about__text--05">Our professional HDR photography make your apartment stand out so guests are more likely to book.</span></div>
      </div>
    </div>
    <div data-content-index="process_step_2" class="container about__process_text_box js-content-box">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-xs-6"><span class="about__text about__text--05">Our guest check-in team manages all communication with guests throughout their stay and provides a city guide built from local knowledge to make the stay special.

    </span></div>
        <div class="col-lg-4 col-xs-6"><span class="about__text about__text--05">We provide fresh sheets, towels and essential amenities for all our guests. You do not need to leave yours available.</span></div>
      </div>
    </div>
    <div data-content-index="process_step_3" class="container about__process_text_box js-content-box">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-xs-6"><span class="about__text about__text--05">We do a general cleaning in your home upon your departure, between each reservation, and before your return. </span></div>
        <div class="col-lg-4 col-xs-6"><span class="about__text about__text--05">We also take care of maintenance if needed so that you can rest easy when your apartment is being rented out.</span></div>
      </div>
    </div>
    <div data-content-index="process_step_4" class="container about__process_text_box js-content-box">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-xs-6"><span class="about__text about__text--05">We will securely distribute payments at the end of each month. Simply inform us your IBAN or Paypal account.</span></div>
        <div class="col-lg-4 col-xs-6"><span class="about__text about__text--05">We recommend getting an N26 account for free to enable an instant money transfer through MoneyBeam.</span></div>
      </div>
    </div>
  </div>
  <!-- == END OF ABOUT 05 ==-->
  <!-- == START OF FEATURES 01 ==-->
  <!-- <div class="features features--01 grey-background">
    <div class="features__container--01">
      <div class="features__box--01">
        <div class="features__item features__item--01">
          <div class="features__item_icon_circle features__item_icon_circle--icon--big features__item_icon_circle--money-icon"></div>
          <h3 class="features__item_title">make more</h3><span class="features__item_text features__item_text--01">Earn more money on your vacant apartments, safely and conveniently.</span>
        </div>
        <div class="features__item features__item--01">
          <div class="features__item_icon_circle features__item_icon_circle--icon--big features__item_icon_circle--speech-icon"></div>
          <h3 class="features__item_title">free promotion</h3><span class="features__item_text features__item_text--01">As students, Arca will promote your properties on campus and find you tenants.</span>
        </div>
        <div class="features__item features__item--01">
          <div class="features__item_icon_circle features__item_icon_circle--icon--big features__item_icon_circle--org-icon"></div>
          <h3 class="features__item_title">full control</h3><span class="features__item_text features__item_text--01">Control when your property is rented out so that it is available for tenant visits.</span>
        </div>
      </div>
      <div class="features__content_box--01">
        <div class="features__content_wrapper--01">
          <div class="features__logo_box--01"><img src="img/brand/arca-logo-white.svg" class="features__logo--01"></div>
          <img src="img/brand/arca-wordmark-white.svg" alt="Arca properties logo" class="text__logo_img">
          <h5 class="features__logo_subtitle--01"></h5>
          <h3 class="features__title--01">Full service<br>vacancy solution!</h3>
          <div class="container-fluid">
            <div class="prices__items_box ipad_center_table">
              <div class="prices__item prices__item--02 prices__item--accent--02 black_shadow">
                <h3 class="prices__item__title">rental commission</h3><span class="prices__item__price">€ 0</span><span class="prices__item__price_info">for long-term tenants</span>
                <ul class="prices__item__features_list">
                  <li class="prices__item__features_list__item">Complementary cleanings</li>
                  <li class="prices__item__features_list__item">Fully insured</li>
                  <li class="prices__item__features_list__item">High quality photography</li>
                  <li class="prices__item__features_list__item">Save time and effort</li>
                </ul>
              <div class="cover__button_box--09"><a href="https://www.arcapropertiesmilan.com/" data-mode="popup" target="_blank" class="typeform-share button button--gold button--gold-shadow">sign up</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- == END OF FEATURES 01 ==-->
  <!-- == START OF FEATURES 03 ==-->
  <div class="features features--03">
    <div class="container">
      <div class="features__title_box features__title_box--03">
        <h2 class="features__title--03">Full service vacancy solution!</h2>
        <!-- <span class="features__description features__description--03">
          € 0 rental commission for long-term tenants
        </span> -->
      </div>
    </div>
    <div class="container">
      <div class="row features__row">
        <div class="col-xs-12 col-lg-4 features__item features__item--03">
          <div class="features__item_icon_circle features__item_icon_circle--icon--big features__item_icon_circle--money-icon"></div>
          <h3 class="features__item_title">make more</h3><span class="features__item_text">Earn more money on your vacant apartments, safely and conveniently.</span>
        </div>
        <div class="col-xs-12 col-lg-4 features__item features__item--03">
          <div class="features__item_icon_circle features__item_icon_circle--icon--big features__item_icon_circle--speech-icon"></div>
          <h3 class="features__item_title">free promotion</h3><span class="features__item_text">As students, Arca will promote your properties on campus and find you tenants.</span>
        </div>
        <div class="col-xs-12 col-lg-4 features__item features__item--03">
          <div class="features__item_icon_circle features__item_icon_circle--icon--big features__item_icon_circle--org-icon"></div>
          <h3 class="features__item_title">full control</h3><span class="features__item_text">Control when your property is rented out so that it is available for tenant visits.</span>
        </div>
      </div>
    </div>
  </div>
  <!-- == END OF FEATURES 03 ==-->
  <!-- == START OF FEATURES 10 ==-->
  <div class="features features--10">
    <div class="container">
      <div class="row features__row">
        <div class="col-xs-12 col-lg-4 features__item features__item--10">
          <div style="background-image:url(img/icons/wadaicons/legal-contract-star-icon-white.svg); background-repeat:no-repeat;" class="icon--medium"></div>
          <h3 class="features__item_title features__item_title--10">100% legal</h3><span class="features__item_text features__item_text--10">Unauthorized subletting is illegal. Let our lawyer-approved service take care of everything for you.</span><a href="/faq" class="features__item_link features__item_link--10">learn more</a>
        </div>
        <div class="col-xs-12 col-lg-4 features__item features__item--10">
          <div style="background-image:url(img/icons/wadaicons/shield-star-safety-icon-white.svg); background-repeat:no-repeat;" class="icon--medium"></div>
          <h3 class="features__item_title features__item_title--10">100% protected</h3><span class="features__item_text features__item_text--10">The platforms we list on provide 1M USD liability insurance, protecting your apartment.</span><a href="/faq" class="features__item_link features__item_link--10">learn more</a>
        </div>
        <div class="col-xs-12 col-lg-4 features__item features__item--10">
          <div style="background-image:url(img/icons/wadaicons/glass-magnify-clear-icon-white.svg); background-repeat:no-repeat;" class="icon--medium"></div>
          <h3 class="features__item_title features__item_title--10">100% transparent</h3><span class="features__item_text features__item_text--10">We will provide details for all contract details, guests, and payments upon request.</span><a href="/faq" class="features__item_link features__item_link--10">learn more</a>
        </div>
      </div>
    </div>
  </div>
  <!-- == END OF FEATURES 10 ==-->
<% include ../partials/footer %>