<% include ../partials/header %>
<!-- == START OF COVER 09 ==-->
<div style="background-image: url(img/bg/bg--startup_guy.jpg)" class="cover cover--09 js-cover">
  <div class="container">
    <div class="cover__content_box cover__content_box--09">
      <h2 class="cover__title cover__title--09"><span class="cover__title_text cover__title_text--09">Simple yet powerful</span></h2>
      <div class="cover__description_box--09"><span class="cover__description_text--09">Who can view the attitude and shame of a follower if he has the psychic love of the cow.</span></div>
      <div class="cover__button_box--09"><a href="#" class="cover__button--09 button button--gold button--gold-shadow button--round button--arrow-down js-scroll-fullscreen"></a></div>
    </div>
  </div>
</div>
<!-- == END OF COVER 09 ==-->
<!-- == START OF FEATURES 01 ==-->
<div style="background-image: url(img/bg/bg--skaters.jpg)" class="features features--01">
  <div class="features__container--01">
    <div class="features__box--01">
      <div class="features__item features__item--01">
        <div class="features__item_icon_circle features__item_icon_circle--play-icon"></div>
        <h3 class="features__item_title">Clean css3 animations</h3><span class="features__item_text features__item_text--01">You know what's worse than not working hard? Working hard in the wrong direction.</span>
      </div>
      <div class="features__item features__item--01">
        <div class="features__item_icon_circle features__item_icon_circle--star-icon"></div>
        <h3 class="features__item_title">free updates</h3><span class="features__item_text features__item_text--01">Real greatness does not reside inside those who feel large. The truly wise are meek.</span>
      </div>
      <div class="features__item features__item--01">
        <div class="features__item_icon_circle features__item_icon_circle--code-icon"></div>
        <h3 class="features__item_title">Clean code</h3><span class="features__item_text features__item_text--01">All great spirits have always encountered violent opposition from mediocre cool minds.</span>
      </div>
    </div>
    <div class="features__content_box--01">
      <div class="features__content_wrapper--01">
        <div class="features__logo_box--01"><img src="img/etc/logo--circle--white.svg" class="features__logo--01"></div>
        <h4 class="features__logo_title--01">Arca Properties</h4>
        <h5 class="features__logo_subtitle--01">Wooohooo</h5>
        <h3 class="features__title--01">Free updates and life<br>time support</h3><span class="features__description--01">Wordpress, HTML5 and CSS3 files are served for the fastest start.</span><a href="#" class="button button--border-white">buy now</a>
      </div>
    </div>
  </div>
</div>
<!-- == END OF FEATURES 01 ==-->
<!-- == START OF PRICES 02 ==-->
<div class="prices prices--02">
  <div class="container-fluid">
    <div class="prices__title_box">
      <h2 class="prices__title">Choose your perfect plan</h2><span class="prices__description">Everyone that enters through Him is always safe and the person shall find pastures for himself.</span>
    </div>
    <div class="prices__items_box">
      <div class="prices__item prices__item--02">
        <h3 class="prices__item__title">basic</h3><span class="prices__item__price">$ 10</span><span class="prices__item__price_info">per month</span>
        <ul class="prices__item__features_list">
          <li class="prices__item__features_list__item">10 GB Disk Space</li>
          <li class="prices__item__features_list__item">5 Sub Domains</li>
          <li class="prices__item__features_list__item">5 Databases</li>
          <li class="prices__item__features_list__item">5 Users</li>
        </ul><a href="#" class="button button--white button--gray-shadow">get started</a>
      </div>
      <div class="prices__item prices__item--02 prices__item--accent--02">
        <h3 class="prices__item__title">medium</h3><span class="prices__item__price">$ 19</span><span class="prices__item__price_info">per month</span>
        <ul class="prices__item__features_list">
          <li class="prices__item__features_list__item">100 GB Disk Space</li>
          <li class="prices__item__features_list__item">15 Sub Domains</li>
          <li class="prices__item__features_list__item">15 Databases</li>
          <li class="prices__item__features_list__item">20 Users</li>
        </ul><a href="#" class="button button--gold button--gold-shadow">get started</a>
      </div>
      <div class="prices__item prices__item--02">
        <h3 class="prices__item__title">enterprise</h3><span class="prices__item__price">$ 39</span><span class="prices__item__price_info">per month</span>
        <ul class="prices__item__features_list">
          <li class="prices__item__features_list__item">500 GB Disk Space</li>
          <li class="prices__item__features_list__item">25 Sub Domains</li>
          <li class="prices__item__features_list__item">25 Databases</li>
          <li class="prices__item__features_list__item">Unlimited Users</li>
        </ul><a href="#" class="button button--white button--gray-shadow">get started</a>
      </div>
    </div>
  </div>
</div>
<!-- == END OF PRICES 02 ==-->
<!-- == START OF ABOUT 07 ==-->
<div class="about about--07">
  <div class="container">
    <h2 class="about__title about__title--07">About</h2>
    <div class="about__container--07">
      <div class="about__content--1aw">
        <div class="about__content__top_row--07">
          <h3 class="about__subtitle--07 about__main_subtitle--07">history</h3><span class="about__main_info--07">Phoenix is available on the iPhone, Android and the Windows Phone. With hectic schedules and long to do lists, managing the day to day for your family can feel like a full time job. Phoenix's here to help! Whether you're making dinner plans, coordinating carpools.</span>
        </div>
        <div class="about__content__bottom_row--07">
          <div class="about__feature--07 about__feature_icon--trophy-icon--blue">
            <h3 class="about__subtitle--07">Peace of Mind</h3><span class="about__main_info--07">Part location, part communication, all awesome. Phoenix keeps millions of families and close friends connected, no matter what chaos life throws their way.</span>
          </div>
          <div class="about__feature--07 about__feature_icon--copy-icon--blue">
            <h3 class="about__subtitle--07">CROSS PLATFORM</h3><span class="about__main_info--07">With Phoenix, just open the app and instantly see everyone in your private Circle on the map.</span>
          </div>
        </div>
      </div>
      <div class="about__content--07">
        <div class="about__content__top_row--07">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScdNhuuR0CrtSXBS3DBRxWMVdgq6UW5oyZUUM9oq67JVypymA/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- == END OF ABOUT 07 ==-->
<% include ../partials/footer %>