<% include ../partials/header %>
<!-- == START OF COVER 09 ==-->
<div style="background-image: url(img/bg/coffee-shop-hipster-bg.jpg)" class="cover cover--09 js-cover">
  <div class="container">
    <div class="cover__content_box cover__content_box--09">
      <h2 class="cover__title cover__title--09"><span class="cover__title_text cover__title_text--09">Meet with us!</span></h2>
      <div class="cover__description_box--09"><span class="cover__description_text--09">We'd love to meet with you at a local coffee shop to answer any concerns you have and onboard you as soon as possible!</span></div>
      <div class="cover__button_box--09"><a href="#" class="cover__button--09 button button--gold button--gold-shadow button--round button--arrow-down js-scroll-fullscreen"></a></div>
    </div>
  </div>
</div>
<!-- == END OF COVER 09 ==-->
<!-- == START OF ABOUT 07 ==-->
<div class="about about--07">
  <div class="container">
    <h2 class="about__title about__title--07">Sign Up</h2>
    <div class="about__container--07">
      <div class="about__content--1aw">
        <div class="about__content__top_row--07">
          <h3 class="about__subtitle--07 about__main_subtitle--07">process</h3><span class="about__main_info--07">After you fill out this form, one of the members from our team will reach out to you to schedule a meeting. We're very excited to be working with you!</span>
        </div>
        <div class="about__content__bottom_row--07">
          <div class="about__feature--07">
            <div style="background-image:url(img/icons/wadaicons/contract-house-sign-icon.svg); background-repeat:no-repeat;" class="icon--medium"></div>
            <h3 class="about__subtitle--07">referral program</h3><span class="about__main_info--07">If you're interested in earning money through our referral program by recommending Arca to your friends, click <a href="/referrals" class="prices__offer_link--01">here!</a></span>
          </div>
          <div class="about__feature--07">
            <div style="background-image:url(img/icons/wadaicons/reload-comp-slant-icon.svg); background-repeat:no-repeat;" class="icon--medium"></div> <h3 class="about__subtitle--07">please note</h3><span class="about__main_info--07">If there is no google form to the right, please reload the page. Also, do scroll down on the form to find the submit button.</span>
          </div>
        </div>
      </div>
      <div class="about__content--07">
        <div class="about__content__top_row--07">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScdNhuuR0CrtSXBS3DBRxWMVdgq6UW5oyZUUM9oq67JVypymA/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- == END OF ABOUT 07 ==-->
<% include ../partials/footer %>