<% include ../partials/header %>
<!-- == START OF COVER 09 ==-->
<div style="background-image: url(/img/bg/question-lights-alley-bg.jpg)" class="cover cover--09 js-cover">
  <div class="container">
    <div class="cover__content_box cover__content_box--09">
      <h2 class="cover__title cover__title--09"><span class="cover__title_text cover__title_text--09">Domande frequenti</span></h2>
      <div class="cover__description_box--09"><span class="cover__description_text--09">Scorri per visualizzare le informazioni vitali sul modello di business di Arca, i problemi legali e altro ancora.</span></div>
      <div class="cover__button_box--09"><a href="/it/" class="cover__button--09 button button--gold button--gold-shadow button--round button--arrow-down js-scroll-fullscreen"></a></div>
    </div>
  </div>
</div>
<!-- == END OF COVER 09 ==-->
<!-- == START OF ABOUT 07 ==-->
<div class="about about--07">
  <div class="container">
    <div class="features__title_box features__title_box--03">
      <h2 class="features__title--03">FAQ</h2>
      <span class="features__description features__description--03">Speriamo che tu possa trovare la risposta alla tua domanda qui. In caso contrario, si prega di inviare una mail a “ask@arcapropertymanagement.com” con la tua domanda!</span>
    </div>
    <div class="faq__container--aw1">
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">COME FUNZIONA IL MODELLO DI BUSINESS DI ARCA?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Come studente, sei probabilmente bloccato in un contratto di affitto di un anno. Ciò significa che durante alcuni periodi dell'anno (come le vacanze scolastiche), paghi l'affitto in un appartamento in cui non vivi. Commercializziamo e gestiamo il tuo appartamento su più piattaforme di noleggio a breve termine (come Airbnb) per guadagnare entrate dal affitto . Questo reddito da affitto è diviso tra:<br><br>
          <ul>
            <li>Arca (~30%)</li>
            <li>Il padrone di casa (~10%)</li>
            <li>E tu, l'inquilino (~60%)</li> 
          </ul>
          La nostra commissione aiuta a coprire il costo della creazione di un vero e proprio elenco online che comprende fotografia, pulizia, servizi e altro ancora. Diamo anche dei soldi al proprietario per incentivarli ad autorizzare il sub-leasing. E tu, naturalmente, sei pagato la maggior parte delle entrate siccome è il tuo appartamento. Queste percentuali, tuttavia, possono cambiare in base a più variabili e quindi saranno soggette a negoziazione.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">C'È UN NUMERO MINIMO DI GIORNI IN CUI IL TUO APPARTAMENTO DEVE ESSERE LIBERO PER USARE ARCA?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Mentre il nostro modello funziona meglio per periodi di medio-lunga durata (1-3 mesi), siamo flessibili e ci piacerebbe incontrarti per discutere soluzioni su misura, senza riguardo alla tua assenza.</div>
      </label>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">QUANTI GIORNI PRIMA DELLA TUA PARTENZA TI DEVI REGISTRARTI AD ARCA PER SUB-AFFITTARE IL TUO APPARTAMENTO?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Se sei un cliente completamente nuovo, vorremmo almeno 2 settimane di preavviso. Se sei un cliente esistente, avremmo bisogno solo di 2 giorni.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">PERCHÉ NON POSSO GESTIRE IO IL MIO AIRBNB?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Il nostro servizio è appositamente progettato per gli studenti che non saranno a Milano per alcune parti dell'anno. Se non sei nella città in cui si trova il tuo appartamento, dovrai pagare qualcuno per gestire il tuo appartamento a prescindere. C'è una curva di apprendimento per la gestione del sub-affitto che abbiamo già vissuto. Utilizzando il nostro servizio, ti permetteremo di completare il tuo stage, semestre all'estero o vacanza in pace.<br><br>Tuttavia, se ritieni che gestire il tuo appartamento sia la cosa migliore nella tua situazione, sentiti libero di farlo!</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">DOVE POSSO LASCIARE I MIEI OGGETTI PERSONALI?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Abbiamo un deposito dove conserviamo tutti i tuoi oggetti personali e rimetteremo tutto al suo posto prima del tuo arrivo. Possiamo anche conservare i tuoi oggetti personali in una delle tue stanze o armadi e bloccarli se lo desideri.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">È SICURO METTERE GLI APPARTAMENTI SU AIRBNB?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Noi crediamo di si! Ecco perché:<br><br>1) Airbnb garantisce fino a 1 milione di dollari di assicurazione per eventuali danni o furti.<br><br>2) Abbiamo 3 anni di esperienza con oltre 100 viaggi con una valutazione media di 4,8 stelle.<br><br>3) Richiediamo una fotocopia dei passaporti e guardiamo le recensioni passate prima di accettare qualsiasi ospite.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">COSA SIGNIFICA "SUB-AFFITTO"?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Quando un inquilino (e non il proprietario) affitta un appartamento.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">PUOI SUB-AFFITTARE TUTTA LA CASA O SOLO UNA PARTE (COME UNA STANZA)?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">La legge italiana risponde molto chiaramente a questa domanda L'articolo di riferimento è il n.2, Legge n. 392/78. La legge spiega che la sublocazione totale non è possibile (se non con il consenso del proprietario), mentre è consentita una sublocazione parziale (a meno che il proprietario non rifiuti). Qualsiasi forma di sublocazione è legale se una clausola specifica viene inserita nel contratto.<br><br>Avvertimento!<br><br>Per i contratti con studenti temporanei e transitori, è vietato il subaffitto. La clausola deve essere inclusa nel contratto di affitto, come richiesto dalla Convenzione Italiana.</div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">COME AUTORIZATE UN SUB-AFFITTO LEGALMENTE?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Ecco tutti i passaggi necessari per avviare un sub-affitto:<br><br>
          1) Comunicazione al proprietario: una lettera raccomandata deve essere inviata al proprietario contenente le informazioni del terzo (sottoconduttore), la durata del sub-affitto e il numero di camere date in sub-affitto.<br><br>
          2) Se il sub-affitto supera i 30 giorni, registrare il contratto di sublocazione, pagando il 2% di imposta di registro. La registrazione deve essere effettuata entro 30 giorni dalla firma del contratto, presso gli uffici dell'Agenzia delle Entrate e in seguito al pagamento della tassa di registrazione utilizzando il modello F24 Elide.<br><br>
          3) Se il subconduttore è cittadino non comunitario, presentare un modello di "dichiarazione di ospitalità" per denunciare il subaffitto.
        </div>
      </label>
      <label class="collapsible">
        <input type="checkbox" />
        <span class="collapser features__item_title">CHE COSA SUCCEDE SE L'INTERESSANTE SUB-AFFITTA L'APPARTAMENTO SENZA AUTORIZZAZIONE?</span>
        <span class="arrow">&gt;</span>
        <div class="collapsed features__item_text features__item_text--09">Sub-affittare senza autorizzazione è una violazione di un contratto di affitto e il proprietario può agire in tribunale per richiedere la risoluzione del contratto di locazione principale e del subaffitto, che comporterebbe l'espulsione sia dell'inquilino che di eventuali ospiti.</div>
      </label>
    </div>
  </div>
</div>
<!-- == END OF ABOUT 07 ==-->
<% include ../partials/footer %>