<% include ../partials/header %>
<!-- == START OF COVER 12 ==-->
<!-- <div class="cover__slider js-cover">
  <div class="container cover__slider__arrows_box">
    <button type="button" class="cover__slider__arrow cover__slider__arrow--left js-slider-prev-arrow"></button>
    <button type="button" class="cover__slider__arrow cover__slider__arrow--right js-slider-next-arrow"></button>
  </div>
  <div data-slick="{&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1, &quot;fade&quot;: true, &quot;prevArrow&quot; : &quot;.js-slider-prev-arrow&quot;, &quot;nextArrow&quot;: &quot;.js-slider-next-arrow&quot;}" class="cover__slider__content_box js-slider"> -->
    <div style="background-image: url(/img/bg/milan-property-window-bg.jpg)" class="cover cover--12">
      <div class="container">
        <div class="cover__content_box--12"><a class="cover__tag_button--12 button button--white button--extra-small only-desktop" href="/it/">studenti</a>
          <h2 class="cover__title--12"><span class="cover__title_text--12" style="font-size: 30pt;"><span class="cover__title_text__accent_word">L’unica</span> società di gestione immobiliare che offre soluzioni di <span class="cover__title_text__accent_word">subaffitto</span> agli inquilini in Italia.</h2>
          <div class="cover__description_box--12">
            <!-- <span class="cover__description_text--12">We manage your property on platforms like Airbnb, VRBO, and Homeaway to give you the money guests pay.</span> -->
          </div>
          <a class="typeform-share button button--border-white" href="https://www.arcapropertiesmilan.com/" data-mode="popup" target="_blank">Iscriviti</a>
        </div>
      </div>
    </div>
    <!-- <div style="background-image: url(/img/bg/property-interior-red-bg.jpg)" class="cover cover--12">
      <div class="container">
        <div class="cover__content_box--12"><a class="cover__tag_button--12 button button--white button--extra-small only-desktop" href="/landlords">landlords</a>
          <h2 class="cover__title--12"><span class="cover__title_text--12">Make money from property vacancies of any length</span></h2>
          <div class="cover__description_box--12"><span class="cover__description_text--12">Arca will keep your apartment clean, insured, and available for tenant visits.</span></div><a href="/landlords" class="button button--border-white">per saperne di più</a>
        </div>
      </div>
    </div>
  </div> -->
</div>
<!-- == END OF COVER 12 ==-->
<!-- == START OF ABOUT 05 ==-->
<div class="about about--05 light-gray-bg">
  <div class="container">
    <h2 class="about__title about__title--aw">Ci prenderemo <br/>cura di tutto</h2>
    <span class="about__description--06 about__description--aw">La gestione delle inserzioni su piattaforme di subaffitto richiede dalle 10 alle 20 ore di lavoro a settimana per ogni proprietà. Con Arca ce ne vogliono 0.</span>
  </div>
  <div class="about__process_box">
    <button type="button" data-content-index="process_step_1" class="process_item--small process_item--small--computer-icon state-active js-content-trigger">
      <h3 class="about__process_title">marketing</h3>
    </button>
    <button type="button" data-content-index="process_step_2" class="process_item--small process_item--small--guest-icon js-content-trigger">
      <h3 class="about__process_title">ospiti</h3>
    </button>
    <button type="button" data-content-index="process_step_3" class="process_item--small process_item--small--clean-icon js-content-trigger">
      <h3 class="about__process_title">pulizie</h3>
    </button>
    <button type="button" data-content-index="process_step_4" class="process_item--small process_item--small--money-icon js-content-trigger">
      <h3 class="about__process_title">pagamenti</h3>
    </button>
    <!--decorative element-->
    <div class="about__line"></div>
  </div>
  <!--the first one is visible by default-->
  <div data-content-index="process_step_1" style="display:block" class="container about__process_text_box js-content-box">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-xs-6"><span class="about__text about__text--05">Per massimizzare le tue prenotazioni, commercializziamo il tuo annuncio dell'appartamento tramite piattaforme di noleggio a breve termine come Airbnb, VRBO, Homeaway e altri.</span></div>
      <div class="col-lg-4 col-xs-6"><span class="about__text about__text--05">La nostra fotografia professionale HDR fa risaltare il tuo appartamento, rendendo le prenotazioni più probabili.</span></div>
    </div>
  </div>
  <div data-content-index="process_step_2" class="container about__process_text_box js-content-box">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-xs-6"><span class="about__text about__text--05">Our guest check-in team manages all communication with guests throughout their stay and provides a city guide built from local knowledge to make the stay special.</span></div>
      <div class="col-lg-4 col-xs-6"><span class="about__text about__text--05">We provide fresh sheets, towels and essential amenities for all our guests. You do not need to leave yours available.</span></div>
    </div>
  </div>
  <div data-content-index="process_step_3" class="container about__process_text_box js-content-box">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-xs-6"><span class="about__text about__text--05">We do a general cleaning in your home upon your departure, between each reservation, and before your return. </span></div>
      <div class="col-lg-4 col-xs-6"><span class="about__text about__text--05">We also take care of maintenance if needed so that you can rest easy when your apartment is being rented out.</span></div>
    </div>
  </div>
  <div data-content-index="process_step_4" class="container about__process_text_box js-content-box">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-xs-6"><span class="about__text about__text--05">We will securely distribute payments at the end of each month. Simply inform us your IBAN or Paypal account.</span></div>
      <div class="col-lg-4 col-xs-6"><span class="about__text about__text--05">We recommend getting an N26 account for free to enable an instant money transfer through MoneyBeam.</span></div>
    </div>
  </div>
</div>
<!-- == END OF ABOUT 05 ==-->
<!-- == START OF TESTIMONIALS 05 ==-->
<div class="testimonials testimonials--05">
  <div class="container">
    <h2 class="testimonials__title testimonials__title--05">Cosa dicono i nostri clienti</h2>
    <span class="testimonials__description">Guarda cosa gli studenti come te hanno detto sul servizio di Arca che ha ricevuto una media di 4,8 stelle su 5 dagli ospiti.</span>
  </div>
  <div class="testimonials__container--05">
    <div class="testimonials__arrows_box testimonials__arrows_box--05">
      <button type="button" class="testimonials__arrow testimonials__arrow--left testimonials__arrow--05 testimonials__arrow--05--left js-testimonials-prev-arrow--05"></button>
      <button type="button" class="testimonials__arrow testimonials__arrow--right testimonials__arrow--05 testimonials__arrow--05--right js-testimonials-next-arrow--05"></button>
    </div>
    <div data-slick="{&quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 1, &quot;fade&quot;: false, &quot;cssEase&quot;: &quot;linear&quot;, &quot;prevArrow&quot; : &quot;.js-testimonials-prev-arrow--05&quot;, &quot;nextArrow&quot;: &quot;.js-testimonials-next-arrow--05&quot;, &quot;centerMode&quot;: true, &quot;infinite&quot;: true, &quot;focusOnSelect&quot;: true, &quot;responsive&quot;: [{&quot;breakpoint&quot;: 900, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2}}, {&quot;breakpoint&quot;: 650, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1}}]}" class="testimonials__box testimonials__box--05 js-slider">
      <div class="testimonials__item testimonials__item--05"><span class="testimonials__item_text testimonials__item_text--05">"Excellent property management! The Arca team is very professional and it was super easy to communicate with them. I wouldn’t let anyone else manage my apartment."</span>
        <div style="background-image:url(/img/pictures/louisa-sophie-pic.png)" class="testimonials__item_photo"></div><span class="testimonials__item_name">Louisa</span><span class="testimonials__item_job">Naba</span>
      </div>
      <div class="testimonials__item testimonials__item--05"><span class="testimonials__item_text testimonials__item_text--05">"Arca has managed my place brilliantly! I love how I can effortlessly make money while I’m gone and find my place spotless when I get back."</span>
        <div style="background-image:url(/img/pictures/lukas-strachwitz-pic.png)" class="testimonials__item_photo"></div><span class="testimonials__item_name">Lukas</span><span class="testimonials__item_job">Bocconi</span>
      </div>
      <div class="testimonials__item testimonials__item--05"><span class="testimonials__item_text testimonials__item_text--05">"Reliable, effective and efficient service! Definitely a great team!"</span>
        <div style="background-image:url(/img/pictures/filippo-bartolozzi-pic.png)" class="testimonials__item_photo"></div><span class="testimonials__item_name">Filippo</span><span class="testimonials__item_job">Bocconi</span>
      </div>
      <div class="testimonials__item testimonials__item--05"><span class="testimonials__item_text testimonials__item_text--05">"The team is awesome. They even found a solution to accomodate my pets the whole summer! I've recommended Arca to many friends!"</span>
        <div style="background-image:url(/img/pictures/hadrien-busvestre-pic.png)" class="testimonials__item_photo"></div><span class="testimonials__item_name">Hadrien</span><span class="testimonials__item_job">Bocconi</span>
      </div>
    </div>
  </div>
</div>
<!-- == END OF TESTIMONIALS 05 ==-->
<!-- == START OF ABOUT 06 ==-->
<div class="about about--06">
  <div class="container about__container--06">
    <div class="col-sm-12">
      <div class="about__title_box--06">
        <h2 class="about__title about__title--06">Paghi l’affitto per un appartamento vuoto? Arca può trasformarlo in soldi.</h2>
        <span class="about__description--06">Il tuo contratto di affitto ti costringe a pagare durante le vacanze scolastiche o quando fai semestri all'estero? Il nostro servizio affitta il tuo appartamento libero in modo che tu possa beneficiare.</span>
      </div>
      <div class="row about__row--06">
        <div class="col-md-6 col-lg-6 home__feature_item--aw">
          <div style="background-image:url(/img/icons/wadaicons/trophy-star-win-icon.svg); background-repeat:no-repeat;" class="icon--medium"></div>
          <h3 class="about__feature_item_title--06">reddito garantito</h3><span class="about__item_text--06">Senza Arca il tuo appartamento vuoto è sprecato. Con arca, guadagni denaro privo di rischio senza sforzo.</span><a href="/it/faq" class="about__item_link">per saperne di più</a></span>
        </div>
        <div class="col-md-6 col-lg-6 home__feature_item--aw">
          <div style="background-image:url(/img/icons/wadaicons/comprehensive-property-money-icon.svg); background-repeat:no-repeat;" class="icon--medium"></div>
          <h3 class="about__feature_item_title--06">soluzione completa</h3>
          <span class="about__item_text--06">Sappiamo quanto sia impegnativa la vita studentesca. Con il nostro servizio completo perfezionato in due anni, tutto ciò che devi fare è raccogliere i tuoi soldi.
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-4 works__row works__row--01">
      <a href="/it/about" class="home_work_item works__item works__item--01 light-gray_shadow">
        <div style="background-image: url(/img/bg/building-shadow-sky-bg.jpg)" class="works__item_img works__item_img--01"></div>
        <div class="works__item_text_box--01 gradient-background">
          <h3 class="works__item_title--aw">our story</h3><span class="works__item_tags--aw">We started with our own apartment and built the only student-focused sub-leasing management service in Milan</span>
        </div>
      </a>
    </div> -->
  </div>
</div>
<!-- == END OF ABOUT 06 ==-->
<!-- == START OF FEATURES 10 ==-->
<div class="features features--10">
  <div class="container">
    <div class="row features__row">
      <div class="col-xs-12 col-lg-4 features__item features__item--10">
        <div style="background-image:url(/img/icons/wadaicons/legal-contract-star-icon-white.svg); background-repeat:no-repeat;" class="icon--medium"></div>
        <h3 class="features__item_title features__item_title--10">100% legale</h3><span class="features__item_text features__item_text--10">Il subaffitto non autorizzato è illegale. Lascia che il nostro servizio approvato dagli avvocati se ne occupi per te.</span><a href="/it/faq" class="features__item_link features__item_link--10">per saperne di più</a>
      </div>
      <div class="col-xs-12 col-lg-4 features__item features__item--10">
        <div style="background-image:url(/img/icons/wadaicons/shield-star-safety-icon-white.svg); background-repeat:no-repeat;" class="icon--medium"></div>
        <h3 class="features__item_title features__item_title--10">100% protetto</h3><span class="features__item_text features__item_text--10">Le piattaforme che elenchiamo forniscono pari a 1 milione di dollari americani di assicurazione di responsabilità civile, proteggendo il tuo appartamento.</span><a href="/it/faq" class="features__item_link features__item_link--10">per saperne di più</a>
      </div>
      <div class="col-xs-12 col-lg-4 features__item features__item--10">
        <div style="background-image:url(/img/icons/wadaicons/glass-magnify-clear-icon-white.svg); background-repeat:no-repeat;" class="icon--medium"></div>
        <h3 class="features__item_title features__item_title--10">100% trasparente</h3><span class="features__item_text features__item_text--10">Vi possiamo fornire dettagli riguardanti i contratti, gli ospiti e i pagamenti su richiesta.</span><a href="/it/faq" class="features__item_link features__item_link--10">per saperne di più</a>
      </div>
    </div>
  </div>
</div>
<!-- == END OF FEATURES 10 ==-->
<!-- == START OF COUNTERS 01 ==-->
<!-- <div class="counter counter--01 gradient-background">
  <div class="container-fluid">
    <div class="counter__item counter__item--01">
      <div class="counter__title counter__title--01">airbnb stays</div>
      <div class="counter__number">243</div>
    </div>
    <div class="counter__item counter__item--01 counter__item--border">
      <div class="counter__title counter__title--01">properties managed</div>
      <div class="counter__number">12</div>
    </div>
    <div class="counter__item counter__item--01">
      <div class="counter__title counter__title--01">money paid to students</div>
      <div class="counter__number">€ 12,160</div>
    </div>
  </div>
</div> -->
<!-- == END OF COUNTERS 01 ==-->
<!-- == START OF PRICES 01 ==-->
<!-- <div class="prices prices--01">
  <div class="container-fluid prices_container--01">
    <div class="prices__text_box--01">
      <h2 class="prices__title">Sign up now!</h2><span class="prices__description prices__description--01">Join the many students who have enjoyed Arca's hassle-free service. Don't let your vacant apartment go to waste! When you work with us, everyone wins.</span><span class="prices__offer_text--01">Have questions for us?</span><a href="/it/" class="prices__offer_link--01">Check out our FAQ</a>
    </div>
    <div class="prices__items_box prices__items_box--01">
      <div class="prices__item prices__item--01 prices__item--accent--01">
        <span class="prices__item__price--01">students</span>
        <span class="prices__item__price_info--aw">You will make</span>
        <span class="prices__item__price">~€ 300</span>
        <span class="prices__item__price_info">per month</span>
        <ul class="prices__item__features_list prices__item__features_list--01">
          <li class="prices__item__features_list__item">Winter Break</li>
          <li class="prices__item__features_list__item">Summer Break</li>
          <li class="prices__item__features_list__item">Semesters Abroad</li>
          <li class="prices__item__features_list__item">Design & Fashion Week</li>
        </ul>
        <a href="https://www.arcapropertiesmilan.com/" data-mode="popup" target="_blank" class="typeform-share button button--gold button--gold-shadow">get started</a>
      </div>
      <div class="prices__item prices__item--01">
        <span class="prices__item__price--01">landlords</span>
        <span class="prices__item__price_info--01">Fill property vacancies of any length</span>
        <ul class="prices__item__features_list prices__item__features_list--01">
          <li class="prices__item__features_list__item">Regular Cleaning</li>
          <li class="prices__item__features_list__item">Fully Insured</li>
          <li class="prices__item__features_list__item">Available for Tenant Visits</li>
        </ul><a href="/it/landlords" class="button button--white button--gray-shadow">per saperne di più</a>
      </div>
    </div>
  </div>
</div> -->
<!-- == END OF PRICES 01 ==-->

<% include ../partials/footer %>